div.challenge-anagram {
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

div.challenge-anagram > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

div.challenge-anagram div.proposition {
    font-family: monospace;
    opacity: .8;
}

div.challenge-anagram div.proposition .dash { opacity: .5 }
div.challenge-anagram div.proposition .hint { font-weight: bold; color: #060; }


div.challenge-anagram div.letters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

div.challenge-anagram div.letters > div {
    display: block;
    text-align: center;
}
