div.challenge-twister {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.challenge-twister > p {
    flex: 0 0;
    padding: 1em;
    background: #000c;
    color: #eee;
    font-size: 3vh;
    text-align: center;
}

div.challenge-twister > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.challenge-twister > div > div {
    position: relative;
    background-image: url(challenge.twister/disk.svg);
    width: 50vmin;
    height: 50vmin;
    background-color: #000a;
    border-radius: 25%;
}

div.challenge-twister > div > div > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50vmin;
    height: 50vmin;
    background-image: url(challenge.twister/needle.svg);
    transition: transform 5s; /*cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
    transform-origin: center center;
}
