div.challenge-main > div.strip-container {
    overflow: hidden;
    height: 15vw;
    margin: 0;
    padding: 0;
    position: relative;
}

div.challenge-main > div.strip-container > div {
    position: absolute;
    lefT: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

div.challenge-main > div.strip-container > div > div.challenge {
    padding: 0;
    display: inline-block;
    width: 13vw;
    height: 13vw;
    margin: 1vw;
    background-color: #fb7;
}

div.challenge-main div.challenge.twister {
    background-image: url(challenge.main/twister.svg);
}
